.logo {
    display: flex;
    align-items: center;

    font-family: 'Ubuntu', sans-serif;
    font-style: 18px;
    font-weight: 400;

    cursor: pointer;
}

.logo span {
    font-weight: 500;
}

.logo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}